// Breakpoint

$desktop: 1979px;
$laptop: 1439px;
$tablet: 1024px;
$mobile: 767px;

// Colors

$white: #FFFFFF;
$black: #000000;
$white-title: #FFFFFF;
$grey-title: #6A6D71;
$grey-light-title: #A1A1A1;
$gray-light-title: #A1A1A1;

$active-color: #8200AF;
$hovered-color: #B531E3;
$inactive-color: #A1A1A1;

$violet: #8200AF;
$purple: #B531E3;
$gray: #6A6D71;
$gray-light: #A1A1A1;
$black-other: #1A1A1A;

$bg-gray: #D2D2D2;
$bg-white: #FFFFFF;
$bg-gray-light: #F0F0F0;
$bg-violet: #8200AF;

// Fonts

$geometria: "Geometria", "arial", sans-serif;
$warnock-pro: "Warnock Pro", "times new roman", serif;

// Retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
