<section class="about section" id="about">
  <div class="about__container container">
    <div class="wrapper">
      <h2 class="about__title title title--about">В чём суть?</h2>
      <ul class="stickers stickers--about">
        <li class="stickers__item stickers__item--like wow sticker" tabindex="0" data-proportion-h="1" data-wow-delay="1s">
          <h3 class="stickers__title">Просто и&nbsp;недорого</h3>
          <p class="stickers__desc">Недорогой коробочный продукт: стратегическая сессия - воркшоп с командой клиента</p>
          <svg class="stickers__icon" width="185" height="199">
            <use xlink:href="img/sprite.svg#ico-like"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--structure wow sticker-5" tabindex="0" data-proportion-h="1" data-wow-delay="1.2s">
          <h3 class="stickers__title">Четко и&nbsp;структурно</h3>
          <p class="stickers__desc">Пошаговая дорожная карта по работе с брендом в течение года</p>
          <svg class="stickers__icon" width="198" height="206">
            <use xlink:href="img/sprite.svg#ico-structure"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--target wow sticker3" tabindex="0" data-proportion-h="1" data-wow-delay="1.4s">
          <h3 class="stickers__title">В интересах бизнеса</h3>
          <p class="stickers__desc">Действия по развитию бренда, направленные на достижение целей развития бизнеса</p>
          <svg class="stickers__icon" width="235" height="202">
            <use xlink:href="img/sprite.svg#ico-target"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
