<section class="brand section" id="brand">
  <div class="container">
    <h2 class="brand__title title title--brand title--grey">Какой бренд<br>все хотят?</h2>
    <div class="slider-stickers">
      <ul class="stickers stickers--brand js-active">
        <li class="stickers__item stickers__item--off wow sticker-5" data-wow-delay="1s" tabindex="0">
          <svg class="stickers__icon" width="169" height="171">
            <use xlink:href="img/sprite.svg#ico-off"></use>
          </svg>
        </li>
      </ul>
      <ul class="stickers stickers--brand">
        <li class="stickers__item stickers__item--purple stickers__item--graph sticker5" tabindex="0">
          <svg class="stickers__icon" width="205" height="190">
            <use xlink:href="img/sprite.svg#ico-graph"></use>
          </svg>
        </li>
      </ul>
      <ul class="stickers stickers--brand">
        <li class="stickers__item stickers__item--check sticker-5" tabindex="0">
          <svg class="stickers__icon" width="196" height="191">
            <use xlink:href="img/sprite.svg#ico-check"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="slider slider--brand">
      <ul class="slider__items slider__items--brand">
        <li class="slider__item slider__item--active wow fadeIn">
          <ul class="stickers stickers--brand">
            <li class="stickers__item stickers__item--off" tabindex="0">
              <svg class="stickers__icon">
                <use xlink:href="img/sprite.svg#ico-off"></use>
              </svg>
            </li>
          </ul>
          <div class="brand__info-wrapper">
            <div class="brand__info">
              <h3 class="brand__item-title">Бренд – управляемый актив</h3>
              <p class="brand__desc">Брендом просто управлять, если все в компании понимают, как он работает, и есть чёткая цель работы с брендом и пути её достижения</p>
            </div>
          </div>
        </li>
        <li class="slider__item fadeIn">
          <ul class="stickers stickers--brand">
            <li class="stickers__item stickers__item--purple stickers__item--graph" tabindex="0">
              <svg class="stickers__icon">
                <use xlink:href="img/sprite.svg#ico-graph"></use>
              </svg>
            </li>
          </ul>
          <div class="brand__info-wrapper">
            <div class="brand__info">
              <h3 class="brand__item-title">Бренд приносит прибыль</h3>
              <p class="brand__desc">Бренд работает каждый день и приносит прибыль, если понятно, на какие аспекты бизнеса он влияет и можно спрогнозировать затраты на него</p>
            </div>
          </div>
        </li>
        <li class="slider__item fadeIn">
          <ul class="stickers stickers--brand">
            <li class="stickers__item stickers__item--check" tabindex="0">
              <svg class="stickers__icon">
                <use xlink:href="img/sprite.svg#ico-check"></use>
              </svg>
            </li>
          </ul>
          <div class="brand__info-wrapper">
            <div class="brand__info">
              <h3 class="brand__item-title">Бренд структурирован и&nbsp;актуализирован</h3>
              <p class="brand__desc">Бренд внедрен/ завершен ребрендинг, когда разведены и обозначены разные направления бренда (корпоративный, продуктовый бренды и т.д.), и он соответствует рынку и потребительским трендам</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="slider__controls slider__controls--brand">
        <button type="button" class="slider__control slider__control--prev slider__control--disabled btn-round btn-round--prev js-no-touch" disabled>
          <svg>
            <use xlink:href="img/sprite.svg#ico-arrow"></use>
          </svg>
          <span class="visually-hidden">Предыдущий слайд</span>
        </button>
        <button type="button" class="slider__control slider__control--next slider__control--first btn-round btn-round--next js-no-touch">
          <svg>
            <use xlink:href="img/sprite.svg#ico-arrow"></use>
          </svg>
          <span class="visually-hidden">Следующий слайд</span>
        </button>
      </div>
    </div>
  </div>
</section>
