<ul class="clients__list">
  <li class="clients__item">
    <div class="clients__logo clients__logo--docs">
      <img src="img/logo-1.svg" width="116" height="72" alt="Мои документы">
    </div>
  </li>
  <li class="clients__item">
    <div class="clients__logo clients__logo--coffee">
      <img src="img/logo-2.svg" width="86" height="33" alt="Кофе Хауз">
    </div>
  </li>
  <li class="clients__item">
    <div class="clients__logo clients__logo--world">
      <img src="img/logo-3.svg" width="85" height="24" alt="Мир">
    </div>
  </li>
  <li class="clients__item">
    <div class="clients__logo clients__logo--liga">
      <img src="img/logo-4.svg" width="111" height="33" alt="Лига Ставок">
    </div>
  </li>
  <li class="clients__item">
    <div class="clients__logo clients__logo--bank">
      <img src="img/logo-5.svg" width="125" height="34" alt="ВТБ 24">
    </div>
  </li>
  <li class="clients__item">
    <div class="clients__logo clients__logo--tele">
      <img src="img/logo-6.svg" width="80" height="31" alt="Tele2">
    </div>
  </li>

  <li class="clients__item">
    <div class="clients__logo clients__logo--delivery">
      <img src="img/logo-7.svg" width="92" height="71" alt="Delivery Club">
    </div>
  </li>
  <li class="clients__item">
    <div class="clients__logo clients__logo--rex">
      <img src="img/logo-8.svg" width="73" height="61" alt="Рэкс">
    </div>
  </li>
  <li class="clients__item">
    <div class="clients__logo clients__logo--bucks">
      <img src="img/logo-9.svg" width="62" height="51" alt="One Bucks Coffee">
    </div>
  </li>
  <li class="clients__item">
    <div class="clients__logo clients__logo--miracle">
      <img src="img/logo-10.svg" width="113" height="44" alt="Чудо техники">
    </div>
  </li>
  <li class="clients__item">
    <div class="clients__logo clients__logo--ksk">
      <img src="img/logo-11.svg" width="141" height="48" alt="КСК групп">
    </div>
  </li>
  <li class="clients__item">
    <div class="clients__logo clients__logo--nordav">
      <img src="img/logo-12.svg" width="160" height="19" alt="Нордавиа">
    </div>
  </li>
</ul>
