<footer class="footer b">
  <div class="footer__wrapper b_footer">
    <div class="container footer__container">
      <div class="footer__address-column" itemscope="" itemtype="http://schema.org/Organization">
        <span itemprop="name" style="display:none;">Консалтинговая и брендинговая компания «Пленум» Москва</span>
        <div class="footer__address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">Бутырская ул., д. 46,</span> <span itemprop="addressLocality">Москва<br> Бизнес-центр «Стрелецкая слобода»</span>
        </div>
        <div class="footer__address-point">
          Вход со стороны Бутырской улицы между церковной колокольней и отделением банка
        </div>
        <div class="footer__phone">
            Тел. <a href="tel:84957307479"><span itemprop="telephone">8 495 730-74-79</span></a><br>
            Эл. почта <a href="mailto:info@plenum.ru"><span itemprop="email">info@plenum.ru</span></a>
        </div>
        <div class="footer__clock b_footer__clock">
          <div style="transform: rotate(240deg) translateY(4px)" class="b_footer__clock_hour_hand b_footer__clock_hour_hand_small"></div>
          <div style="transform: rotate(20.1deg) translateY(8px)" class="b_footer__clock_hour_hand b_footer__clock_hour_hand_big"></div>
        </div>
        <div class="footer__time">
          Мы работаем с 10 до 19 часов
        </div>
      </div>
      <div class="footer__menu-column">
        <ul class="footer__menu">
          <li>
            <a href="#" rel="nofollow" class="">Проекты</a>
          </li>
          <li>
            <a href="#" rel="nofollow" class="">Услуги</a>
            <ul class="footer__menu-sub">
              <li>
                <a href="#">Аналитика и исследования</a>
              </li>
              <li>
                <a href="#">Стратегическое планирование</a>
              </li>
              <li>
                <a href="#">Дизайн и коммуникации</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" rel="nofollow" class="">Мы</a>
          </li>
          <li>
            <a href="#" rel="nofollow" class="">Карьера</a>
          </li>
          <li>
            <a href="#" rel="nofollow" class="">Блог</a>
          </li>
          <li>
            <a href="#" rel="nofollow" class="">Пресс-кит</a>
          </li>
          <li>
            <a href="#" class="">Карта сайта</a>
          </li>
          <li>
            <a href="#" class="">Результаты СОУТ</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container">
        <div class="footer__bottom-wrapper">
          <ul class="footer__menu" style="">
            <li style="
            position: relative;
            color: #fff;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
            transition: all .2s ease-in 0s;
            display: inline-block;
            padding: 0;
            font-weight: 700;
          ">Пленум. <a href="/">Стратегический маркетинг</a>
            </li>
          </ul>
          <div class="footer__bottom-social">
            <div class="footer__social-item">
              <a target="_blank" href="https://www.facebook.com/PlenumAgency/" class="fb"></a>
            </div>
            <div class="footer__social-item">
              <a target="_blank" href="https://www.behance.net/PlenumAgency" class="be"></a>
            </div>
            <div class="footer__social-item">
              <a target="_blank" href="https://www.instagram.com/plenum_agency/" class="inst"></a>
            </div>
            <!--<div class="footer__social-item">
              <a target="_blank" href="https://t.me/Plenum_bot" class="telega"></a>
            </div> -->
          </div>
          <div class="footer__bottom-copyright">
            2006 — 2019 © Пленум
          </div>
          <div class="footer__bottom-trash">
            <a href="javascript:;" class="open_secret" data-src="#secret" onclick="yaCounter17208145.reachGoal('event_secret_01'); return true;"></a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 b_footer_bottom__development text-right" style="display: none;">
          Разработка сайта — <a href="https://plenum.ru/"><span>Пленум</span></a>
          <form action="#">
            <div class="inpt-grp-find">
              <input type="text">
              <button class="find-btn" type="submit">
              </button>
            </div>
          </form>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-right" style="display: none">
          <form action="#">
            <div class="inpt-grp-find">
            <input type="text" name="q" value="" size="15" maxlength="50">
            <input name="s" class="find-btn" type="submit" value="">
            </div>
          </form>
          <form action="#" style="display: none;">
            <div class="inpt-grp-find">
              <input type="text">
              <button class="find-btn" type="submit">
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Всё что ниже, политика конфиденциальнсти, меняется в header -->
  <div class="footer__privacy-policy">
    <div class="footer__policy-wrapper container">
      <p class="footer__policy-data"><a class="footer__policy-file" target="_blank" href="#">Политика конфиденциальности (скачать, .pdf, 0.8 Мб).</a><span class="footer__ip"> IP сайта - 77.247.241.226 - Российская Федерация</span></p>
      <p class="footer__policy-desc">Ваши персональные данные обрабатываются на сайте в целях его функционирования, если Вы не согласны, то Вы должны покинуть сайт. В противном случае это будет являться  согласием на обработку Ваших персональных данных.</p>
    <div>
  </div></div></div>
</footer>
