<section class="help section" id="help">
  <div class="container">
    <div class="wrapper">
      <h2 class="help__title title title--help">Когда мы вам нужны?</h2>
      <div class="stickers">
        <ul class="stickers stickers--help">
          <li class="stickers__item stickers__item--one wow sticker5" tabindex="0" data-proportion-h="1" data-wow-delay="0.8s">
            <h3 class="stickers__title stickers__title--sm-width">Не хватает внутренних ресурсов</h3>
            <p class="stickers__desc">Нет бренд-менеджера или вы находитесь в процессе ребрендинга</p>
            <svg class="stickers__icon" width="110" height="165">
              <use xlink:href="img/sprite.svg#ico-one"></use>
            </svg>
          </li>
          <li class="stickers__item stickers__item--two wow sticker-3" tabindex="0" data-proportion-h="1" data-wow-delay="1s">
            <h3 class="stickers__title">Нужен ROI
            </h3>
            <p class="stickers__desc">Нужно усилить и капитализировать бренд для того, чтобы отбить инвестиции</p>
            <svg class="stickers__icon" width="131" height="166">
              <use xlink:href="img/sprite.svg#ico-two"></use>
            </svg>
          </li>
          <li class="stickers__item stickers__item--notice wow sticker5" tabindex="0" data-proportion-h="1" data-wow-delay="1.2s">
            <h3 class="stickers__title">Все сложно и&nbsp;непонятно
            </h3>
            <p class="stickers__desc">Не можете спланировать ресурсы т.к. у вас сложный бизнес и структура Ц.А., нет
              понимания структуры задач по бренду</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
