<div class="intro section" id="header">
  <header class="header container">
    <div class="header__wrapper">
      <div class="header__logo-wrapper">
        <img class="header__logo" src="img/logo-plenum.svg" width="333" height="38" alt="Логотип Пленума">
      </div>
      <a class="header__tel" href="tel:+74957307479">+7&nbsp;495&nbsp;730-74-79</a>
      <button class="header__nav-toggle" type="button">
        <svg class="header__nav-icon header__nav-icon--burger" width="24" height="14">
          <use xlink:href="img/sprite.svg#ico-burger"></use>
        </svg>
        <svg class="header__nav-icon header__nav-icon--cross" width="20" height="20">
          <use xlink:href="img/sprite.svg#ico-cross"></use>
        </svg>
        <span class="visually-hidden">Открыть/Закрыть меню</span>
      </button>
      //= menu.html
    </div>
  </header>

  <div class="intro__info container">
    <h1 class="visually-hidden">Пленум: стратегический маркетинг</h1>
    <h2 class="intro__title js-title"><span class="intro__title-text wowIntro fadeIn" data-wow-delay="0.1s">Хороший год</span><br><span class="intro__title-sub-text wowIntro fadeIn" data-wow-delay="0.2s">для бренда</span></h2>
    <p class="intro__text js-text wowIntro fadeIn" data-wow-delay="0.3s">Поможем спланировать<br> развитие бренда в 2019 году</p>
  </div>

  <div class="intro__stickers-wrapper">
    <div class="intro__stickers-container container">
      <ul class="stickers stickers--intro">
        <li class="stickers__item stickers__item--like wowIntro sticker-5" tabindex="0" data-proportion-h="1" data-wow-delay="0.8s">
          <span class="visually-hidden">Лайк</span>
          <svg class="stickers__icon" width="185" height="199">
            <use xlink:href="img/sprite.svg#ico-like"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--purple stickers__item--valuta wowIntro sticker5" tabindex="0" data-proportion-h="1" data-wow-delay="1.2s">
          <span class="visually-hidden">Валюта</span>
          <svg class="stickers__icon" width="140" height="155">
            <use xlink:href="img/sprite.svg#ico-valuta"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--white stickers__item--idea wowIntro sticker5" tabindex="0" data-proportion-h="1" data-wow-delay="1.6s">
          <span class="visually-hidden">Идея</span>
          <svg class="stickers__icon" width="219" height="228">
            <use xlink:href="img/sprite.svg#ico-idea"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--purple stickers__item--diagram wowIntro sticker" tabindex="0" data-proportion-h="1" data-wow-delay="2s">
          <span class="visually-hidden">Диаграмма</span>
          <svg class="stickers__icon" width="192" height="192">
            <use xlink:href="img/sprite.svg#ico-diagram"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--heart wowIntro sticker-10" tabindex="0" data-proportion-h="1" data-wow-delay="2.4s">
          <span class="visually-hidden">С любовью</span>
          <svg class="stickers__icon" width="170" height="177">
            <use xlink:href="img/sprite.svg#ico-heart"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--white stickers__item--graph wowIntro sticker10" data-proportion-h="1" tabindex="0" data-wow-delay="2.8s">
          <span class="visually-hidden">График</span>
          <svg class="stickers__icon" width="196" height="191">
            <use xlink:href="img/sprite.svg#ico-graph"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
  <a class="btn-round btn-round--down animate-scroll js-no-touch" href="#support">
    <svg>
      <use xlink:href="img/sprite.svg#ico-arrow"></use>
    </svg>
  </a>
</div>
