<section class="job section" id="job">
  <div class="container">
    <div class="wrapper">
      <h2 class="job__title title title--job">Как<br class="job__break"> строится работа</h2>
      <ul class="stickers stickers--job">
        <li class="stickers__item stickers__item--one wow sticker" tabindex="0" data-proportion-h="1" data-wow-delay="0.8s">
          <p class="stickers__desc">3 установочных интервью с командой клиента</p>
          <svg class="stickers__icon" width="99" height="172">
            <use xlink:href="img/sprite.svg#ico-one"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--two wow sticker-5" tabindex="0" data-proportion-h="1" data-wow-delay="1s">
          <p class="stickers__desc">Кабинетная аналитика (материалы компании, вторичная информация)</p>
          <svg class="stickers__icon" width="130" height="169">
            <use xlink:href="img/sprite.svg#ico-two"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--three wow sticker" tabindex="0" data-proportion-h="1" data-wow-delay="1.2s">
          <p class="stickers__desc">Подготовка к воркшопу и 2-ухдневная сессия</p>
          <svg class="stickers__icon" width="126" height="159">
            <use xlink:href="img/sprite.svg#ico-3"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--four wow sticker" tabindex="0" data-proportion-h="1" data-wow-delay="1.4s">
          <p class="stickers__desc">Анализ результатов воркшопа</p>
          <svg class="stickers__icon" width="114" height="169">
            <use xlink:href="img/sprite.svg#ico-4"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--five wow sticker10" tabindex="0" data-proportion-h="1" data-wow-delay="1.6s">
          <p class="stickers__desc">Отчетная презентация с результатами работы</p>
          <svg class="stickers__icon" width="151" height="191">
            <use xlink:href="img/sprite.svg#ico-5"></use>
          </svg>
        </li>
        <li class="stickers__item stickers__item--polygon wow sticker" tabindex="0" data-proportion-h="1" data-wow-delay="1.8s">
          <p class="stickers__desc">А еще мы раскрываем для вас методологию. В дальнейшем вы сможете планировать работу
            с брендом самостоятельно.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
