<div class="modal js-box-closed">
  <div class="modal__wrapper modal__nav">
    <div class="modal__header modal__nav-header"></div>
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a class="main-nav__link link js-active animate-scroll" href="#header">
            Хороший год для бренда
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link link animate-scroll" href="#support">
            Мы поможем вам если
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link link animate-scroll" href="#about">
            В чем суть?
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link link animate-scroll" href="#brand">
            Какой бренд все хотят?
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link link animate-scroll" href="#help">
            Когда мы вам нужны?
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link link animate-scroll" href="#technology">
            Технология Power Mapping
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link link animate-scroll" href="#job">
            Как строится работа
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link link animate-scroll" href="#terms">
            Сроки? Что на выходе?
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link link animate-scroll" href="#clients">
            Избранные клиенты
          </a>
        </li>
      </ul>
    </nav>
    <div class="modal__nav-consultation">
      <a class="modal__nav-link btn" href="#">Заказать звонок</a>
      <p class="modal__nav-question">Нужна консультация?</p>
      <p class="modal__nav-slogan">Оставьте контакты, и мы свяжемся с вами</p>
      <a class="modal__nav-tel" href="tel:+74957307479">+7&nbsp;495&nbsp;730-74-79</a>
    </div>
    <div class="modal__nav-footer"></div>
  </div>
</div>
