<section class="support section" id="support">
  <div class="support__container container">
    <h2 class="support__title title title--support title--grey">Мы поможем<br>вам, если</h2>
    <ul class="stickers stickers--support">
      <li class="stickers__item stickers__item--papers wow sticker-5" data-proportion-h="1" data-wow-delay="0.8s" tabindex="0">
        <p class="stickers__desc">Нужен план на год по брендовым активностям, но нет ресурсов и технологий</p>
        <svg class="stickers__icon" width="162" height="178">
          <use xlink:href="img/sprite.svg#ico-papers"></use>
        </svg>
      </li>
      <li class="stickers__item stickers__item--valuta wow sticker" data-proportion-h="1" data-wow-delay="1.2s" tabindex="0">
        <p class="stickers__desc">Не знаете, как монетизировать бренд и получать добавочную прибыль от возможностей брендинга</p>
        <svg class="stickers__icon" width="176" height="206">
          <use xlink:href="img/sprite.svg#ico-valuta"></use>
        </svg>
      </li>
      <li class="stickers__round-item stickers__round-item--gray stickers__round-item--query wow sticker5" data-proportion-h="1" data-wow-delay="1.4s" tabindex="0">
        <p class="stickers__desc">Другая ситуация? Пишите, мы разберемся и предложим вам решение</p>
        <svg class="stickers__icon" width="128" height="114">
          <use xlink:href="img/sprite.svg#ico-query"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
