<section class="terms section" id="terms">
  <div class="container">
    <h2 class="terms__title title title--grey title--terms">Сроки? Что на выходе?</h2>
    <div class="wrapper">
      <div class="stickers">
        <ul class="stickers stickers--terms">
          <li class="stickers__item stickers__item--days wow sticker" data-proportion-h="1" data-wow-delay="0.8s" tabindex="0">
            <p class="stickers__desc">14 <span class="stickers__days">дней</span></p>
          </li>
          <li class="stickers__item stickers__item--paper-plan wow sticker" data-proportion-h="1" data-wow-delay="1s" tabindex="0">
            <p class="stickers__desc">План действий на всех территориях бренда</p>
            <svg class="stickers__icon" width="140" height="179">
              <use xlink:href="img/sprite.svg#ico-paper-plan"></use>
            </svg>
          </li>
          <li class="stickers__item stickers__item--diagram-empty wow sticker5" data-proportion-h="1" data-wow-delay="1.2s" tabindex="0">
            <p class="stickers__desc">KPI’s и метрики эффективности</p>
            <svg class="stickers__icon" width="198" height="206">
              <use xlink:href="img/sprite.svg#ico-diagram-empty"></use>
            </svg>
          </li>
          <li class="stickers__item stickers__item--persons wow sticker-10" data-proportion-h="1" data-wow-delay="1.4s" tabindex="0">
            <p class="stickers__desc">Ответственные сотрудники и подразделения
            </p>
            <svg class="stickers__icon" width="205" height="196">
              <use xlink:href="img/sprite.svg#ico-persons"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
