<div class="tooltip">
  <ul class="tooltip__list">
    <li class="tooltip__item">
      <a class="tooltip__link js-active animate-scroll" href="#header">
        <div class="tooltip__circle-left"></div>
        <div class="tooltip__circle-right"></div>
        <div class="tooltip__circle-center"></div>
      </a>
    </li>
    <li class="tooltip__item">
      <a class="tooltip__link animate-scroll" href="#support">
        <div class="tooltip__circle-left"></div>
        <div class="tooltip__circle-right"></div>
        <div class="tooltip__circle-center"></div>
      </a>
    </li>
    <li class="tooltip__item">
      <a class="tooltip__link animate-scroll" href="#about">
        <div class="tooltip__circle-left"></div>
        <div class="tooltip__circle-right"></div>
        <div class="tooltip__circle-center"></div>
      </a>
    </li>
    <li class="tooltip__item">
      <a class="tooltip__link animate-scroll" href="#brand">
        <div class="tooltip__circle-left"></div>
        <div class="tooltip__circle-right"></div>
        <div class="tooltip__circle-center"></div>
      </a>
    </li>
    <li class="tooltip__item">
      <a class="tooltip__link animate-scroll" href="#help">
        <div class="tooltip__circle-left"></div>
        <div class="tooltip__circle-right"></div>
        <div class="tooltip__circle-center"></div>
      </a>
    </li>
    <li class="tooltip__item">
      <a class="tooltip__link animate-scroll" href="#technology">
        <div class="tooltip__circle-left"></div>
        <div class="tooltip__circle-right"></div>
        <div class="tooltip__circle-center"></div>
      </a>
    </li>
    <li class="tooltip__item">
      <a class="tooltip__link animate-scroll" href="#job">
        <div class="tooltip__circle-left"></div>
        <div class="tooltip__circle-right"></div>
        <div class="tooltip__circle-center"></div>
      </a>
    </li>
    <li class="tooltip__item">
      <a class="tooltip__link animate-scroll" href="#terms">
        <div class="tooltip__circle-left"></div>
        <div class="tooltip__circle-right"></div>
        <div class="tooltip__circle-center"></div>
      </a>
    </li>
    <li class="tooltip__item">
      <a class="tooltip__link animate-scroll" href="#clients">
        <div class="tooltip__circle-left"></div>
        <div class="tooltip__circle-right"></div>
        <div class="tooltip__circle-center"></div>
      </a>
    </li>
  </ul>
</div>
